html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 10px;           
    background-color: #10345a;
    color: white;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

.calculator { 
    background-color: #01172F;
    max-height: 90vh;          
    width: 400px;
    border-radius: 10px;
    padding: 15px 10px;
    border: 1px solid #80afc0;
    box-shadow: 0 0 20px #29772b;
    display: flex;
    flex-direction: column;
}


.display {
    background-color: #5ab8ff;
    padding: 5px 10px;
    min-height: 100px;
    max-height: 25%;          
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-end;
    border-radius: 10px;
}

h1 {
    min-height: 30px;
    margin: 0;
}


.nums {
    padding-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: end;
}

.nums button {
    color: inherit;
    background-color: #4d6c62;
    font-size: large;
    width: 70px;
    height: 70px;
    border-radius: 20%;
    margin: 1%;
    border: 0;
}

.theme {
    padding: 10px;
    height: 30px;
    width: 400px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.theme button {
    background-color: #1485fe;
    height: 40px;
    width: 80px;
    border-radius: 15px;
    border: 0;
    color: inherit;
    margin-top: 0;
}

.footer {
    padding-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: small;
    gap: 20px;
}

p {
    margin: 0;
}

svg {
    fill: white;
}
