html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.calculator { 
    background-color: black;
    height: 650px;
    width: 480px;
    border-radius: 10px;
    padding: 20px 10px;
}

.theme {
    padding: 10px;
    height: 30px;
    width: 500px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.display {
    background-color: rgb(95, 185, 185);
    padding:0 10px ;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: end;
}

h2 {
    margin: 0;
}

.keys {
    display: flex;
    align-items: center;
    margin: 10px 0px;
    height: 550px;
    border: 1px solid white;
    display: flex;

}

.nums {
    border: 1px solid white;
    height: 500px;
    width: 350px;   
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}

.ops {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid white;
    height: 500px;
    width: 150px;
}

.nums button{
    font-size:x-large;
    width: 90px;
    height: 80px;
    border-radius: 25%;
    margin: 1% 3% 1% 3%;
}

.ops button {
    font-size:xx-large;
    width: 90px;
    height: 80px;
    border-radius: 25%;
   

}