html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: #10345a;
    color: white;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.calculator { 
    background-color: #01172F;
    height: 650px;
    width: 400px;
    border-radius: 10px;
    padding: 20px 10px;
    border: 1px solid #80afc0;
    box-shadow: 0 0 20px  #29772b;
    
}

.theme {
    padding: 10px;
    height: 30px;
    width: 400px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.display {
    background-color: #5ab8ff;
    padding:0 10px ;
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: end;
    border-radius: 10px;
}

h1 {
    min-height: 30px;
    margin: 0;
}



.nums {
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: end;

}

.nums button{
    color: inherit;
    background-color: #4d6c62;
    font-size:x-large;
    width: 80px;
    height: 80px;
    border-radius: 20%;
    margin: 1.5%;
    border: 0;
}

.theme button {
    background-color: #1485fe;
    height: 40px;
    margin-top: 10px;
    width: 80px;
    border-radius: 15px;
    border: 0;
    color: inherit;
}